.navbar-nav
{
	margin-left: 900px;
	height: 40px;
}

.nav-item
{
	margin: 5px;
}

.jumbotron1
{
	background: url(images/image1.jpg) no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 500px;
	text-align: center;
	color: white;
}

hr
{
	border-top: 1px solid white;
	width: 300px;
}

#block2 img
{
	height: 300px;
	width: 400px;
}


#block3 img
{
	height: 300px;
	width: 400px;
}

#block6 img
{
	height: 300px;
	width: 400px;
}

